{% extends "base.html" %}
{% block title %}Notifications{% endblock %}
{% block body %}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Notifications</h1>
                <h3> No notifications have been added. </h3>
                <br>
                <a href="#" class="btn btn-success btn-lg">
                <i class="fa fa-plus"></i>
                Add Notification
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
