<!--
    Author: Mark Kelly
    Author: Danielle Gorman
-->
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="doctor-forms">
                    <h1>Login to your account</h1>
                    <br/>
                    <div class="well">
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>
{% endblock %}
