{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

  // Load Charts and the corechart and barchart packages.
  google.charts.load('current', {'packages':['corechart']});

  // Draw the pie chart and bar chart when Charts is loaded.
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data1 = new google.visualization.DataTable();
    data1.addColumn('string', 'Answers');
    data1.addColumn('number', 'Total');
    data1.addRows([
      ['Yes', 3],
      ['No', 4]
    ]);

    var data2 = new google.visualization.DataTable();
    data2.addColumn('string', 'Question');
    data2.addColumn('number', 'Answers');
    data2.addRows([
      ['A', 3],
      ['B', 4],
      ['C', 10],
      ['D', 1],
    ]);

    var piechart_options = {title:'Pie Chart: Total questions answered',
                   colors: ['#ff3333','#00cc00'],
                   is3D: true,
                   height:325};
    var piechart = new google.visualization.PieChart(document.getElementById('piechart_div'));
    piechart.draw(data1, piechart_options);

    var barchart_options = {title:'Barchart:  Total questions answered',
                   colors: ['#337AB7','#5CB85C','#F0AD4E','#D9534F'],
                   height:325,
                   legend: 'none'};
    var barchart = new google.visualization.BarChart(document.getElementById('barchart_div'));
    barchart.draw(data2, barchart_options);
  }

  $(window).resize(function(){
      drawChart();
    });

</script>
{% endblock %}
{% block body %}
<div class="container">
    <!-- Page Content -->
    <br><br><br>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ number_of_patients }}</div>
                            <div>Patients</div>
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('doctor.list_patients') }}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-smile-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">12</div>
                            <div>Recovering Patients</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-meh-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">11</div>
                            <div>Patients at Risk</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">3</div>
                            <div>Patient Alerts</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-body chart_div_result">
                    <!--Div that will hold the pie chart-->
                    <div id="piechart_div" class="chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-body chart_div_result">
                   <!--Div that will hold the bar chart-->
                    <div id="barchart_div" class="chart"></div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
</div>
{% endblock %}
