{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Patients{% endblock %}
{% block head %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
function drawTable() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'First name');
    data.addColumn('string', 'Last Name');
    data.addColumn('string', 'Email');
    data.addColumn('string', 'Profile');

    data.addRows([
        {% for patient in patients %}
            ['{{ patient.first_name }}',  '{{ patient.last_name }}', '{{ patient.email }}', '<a class="btn btn-success btn-sm" href="patients/{{ patient.id }}/profile" data-toggle="tooltip" title="View this patients profile">Select</a>'],
        {% endfor %}
    ]);

    var dashboard = new google.visualization.Dashboard(document.querySelector('#dashboard'));

    var stringFilter = new google.visualization.ControlWrapper({
        controlType: 'StringFilter',
        containerId: 'string_filter_div',
        options: {
            filterColumnIndex: 0
        }
    });

    var table = new google.visualization.ChartWrapper({
        chartType: 'Table',
        containerId: 'table_div',
        options: {
            showRowNumber: true,
            allowHtml: true,
            width: '100%',
            height: '100%'
        }
    });

    dashboard.bind([stringFilter], [table]);
    dashboard.draw(data);
}
google.charts.load('visualization', '1', {packages:['controls'], callback: drawTable});
</script>
{% endblock %}
{% block body %}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Patient</h3>
                    </div>
                    <div class="panel-body" style="padding:0;">
                        <div class="well">
                            {{ wtf.quick_form(form) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Patients</h3>
                    </div>
                    <div class="panel-body" style="padding:5px;">
                    {% if patients %}
                        <div id="dashboard">
                            <div id="string_filter_div"></div>
                            <div id="table_div"></div>
                        </div>
                    {% else %}
                        <h3 class="text-center"> No patients have been added. </h3>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
