{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Preview Questionnaire{% endblock %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/new_questionnaire.js') }}"></script>
{% endblock %}
{% block body %}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h1>[{{subject}}] {{title}}</h1>
                <p id="description">{{description}}</p>
                <hr style="border:0;background-color:#337ab7;height:1px;">
                <form method="POST">
                	<div id="ques_list">
                	{% for i in range(0,schema|length) %}
                		<div>
                			<p id="ques_{{i}}.description">{{i+1}}.&nbsp;{{schema[i].description}}</p>
                			{% if schema[i].type=='0' %}
                			    <div class="btn-group-vertical" data-toggle="buttons">
                        			{% for j in range(0,schema[i].options|length) %}
                    				    <label class="btn btn-primary">
                        					<input type="radio" value="{{j}}"/>
                        					{{schema[i].options[j]}}
                        					<span class="glyphicon glyphicon-ok"></span>
                    					</label>
                        			{% endfor %}
                        		</div><br><br>
                			{% elif schema[i].type=='1' %}
                			<ul style="list-style-type:none">
                			{% for j in range(0,schema[i].options|length) %}
                				<li>
                					<input type="checkbox" value="1" disabled="disabled"/>
                					{{schema[i].options[j]}}
                				</li>
                			{% endfor %}
                			</ul>
                			{% elif schema[i].type=='2' %}
                			<ul style="list-style-type:none">
                				<li>
                					<input type="radio" value="1" disabled="disabled"/>
                					True
                				</li>
                				<li>
                					<input type="radio" value="0" disabled="disabled"/>
                					False
                				</li>
                			</ul>
                			{% elif schema[i].type=='3' %}
                			<div class="row">
                				<div class="col-md-6">
                					<textarea rows="8" class="form-control" name="ques_{{i}}.ans" disabled="disabled"></textarea>
                				</div>
                			</div>
                			{% endif %}
                		</div>
                	{% endfor %}
                	</div>
            	</form>
            	<br/><br/>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>
{% endblock %}
