{% extends "base.html" %}
{% block title %}Questionnaire{% endblock %}
{% block body %}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1 class="text-center">Questionnaires</h1>
                {% if questionnaires %}
                <div style="overflow-x:auto;">
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th> Title </th>
                          <th> Subject </th>
                          <th> Description </th>
                          <th> Preview </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for questionnaire in questionnaires %}
                        <tr>
                          <td> {{ questionnaire.title }} </td>
                          <td> {{ questionnaire.subject }} </td>
                          <td> {{ questionnaire.description }} </td>
                          <td>
                            <a class="btn btn-success btn-sm" href="questionnaire/{{ questionnaire.id }}/preview">Preview</a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
                {% else %}
                    <h3 class="text-center"> No questionnaires have been added. </h3>
                {% endif %}
                <br>
                <!--
                <div class="text-center">
                    <a href="{{ url_for('doctor.create_questionnaire') }}" class="btn btn-success btn-lg">
                    <i class="fa fa-plus"></i>
                    Add Questionnaire
                    </a>
                </div>
                -->
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
{% endblock %}
