{% extends "base.html" %}
{% block title %}Questionnaire{% endblock %}
{% block body %}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1 class="text-center">Questionnaires</h1>
                {% if questionnaires %}
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th> Title </th>
                          <th> Subject </th>
                          <th> Description </th>
                          <th> Date Created </th>
                          <th> Preview </th>
                          <th> Modify </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for questionnaire in questionnaires %}
                        <tr>
                          <td> {{ questionnaire.title }} </td>
                          <td> {{ questionnaire.subject }} </td>
                          <td> {{ questionnaire.description }} </td>
                          <td> {{ questionnaire.create_time }} </td>
                          <td>
                            <a class="btn btn-small btn-default" href="questionnaire/{{ questionnaire.id }}/preview">Preview</a>
                          </td>
                          <td>
                            <a class="btn btn-small btn-default" href="#">Modify</a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                <div style="text-align: center">
                {% else %}
                    <h3> No questionnaires have been added. </h3>
                {% endif %}
                <br>
                <a href="{{ url_for('doctor.create_questionnaire') }}" class="btn btn-default btn-lg">
                <i class="fa fa-plus"></i>
                Add Questionnaire
                </a>
                </div>

            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
{% endblock %}
