<!--
    Author: Mark Kelly
    Author: Danielle Gorman
-->
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Preview Questionnaire{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h1>[{{subject}}] {{title}}</h1>
                <p id="description">{{description}}</p>
                <hr style="border:0;background-color:#337ab7;height:1px;">
                <form method="POST">
                	<div id="ques_list">
                	{% for i in range(0,schema|length) %}
                		<div>
            			<p id="ques_{{i}}.description">{{i+1}}.&nbsp;{{schema[i].description}}</p>
            			    <div class="btn-group-lg btn-group-justified blocks" data-toggle="buttons">
                    			{% for j in range(0,schema[i].options|length) %}
                				    <label class="btn btn-info btn-outline">
                    					<input type="radio" value="{{j}}"/>
                    					{{schema[i].options[j]}}
                    					<span class="glyphicon glyphicon-ok"></span>
                					</label>
                    			{% endfor %}
                    		</div><br><br>
                		</div>
                	{% endfor %}
                	</div>
                    <button type="button" class="btn btn-primary" onclick="window.history.back()">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Back
                    </button>
            	</form>
            	<button onclick="topFunction()" id="topBtn" title="Go to top">
        	    <i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i>
        	    </button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>
<script>
    // For the "Back to top" button
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
            document.getElementById("topBtn").style.display = "block";
        } else {
            document.getElementById("topBtn").style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
{% endblock %}
