<!DOCTYPE html>
<html lang="en">
<head>
    <!-- These 3 meta tags MUST come first -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- These 3 meta tags MUST come first -->

    <title>{{ title }} | Recover</title>

    <!-- Bootstrap CSS and JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">  -->
    <link href="{{ url_for('static', filename='css/metisMenu.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/morris.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/toastr.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/toastr.js') }}"></script>

    <!-- Application specific CSS-->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" id="logo" href="{{ url_for('home.homepage') }}">Recover</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  {% if current_user.is_authenticated %}
                    {% if current_user.is_doctor %}
                      <li><a href="{{ url_for('home.doctor_dashboard') }}">Dashboard</a></li>
                      <li><a href="{{ url_for('doctor.list_questionnaires') }}">Questionnaires</a></li>
                      <li><a href="{{ url_for('doctor.list_notifications') }}">Notifications</a></li>
                      <li><a href="{{ url_for('doctor.list_patients') }}">Patients</a></li>
                    {% else %}
                      <li><a href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
                    {% endif %}
                    <li><a><i class="fa fa-user"></i>  Hello {{ current_user.username }}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                  {% else %}
                    <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                  {% endif %}
              </ul>
          </div>
        </div>
    </nav>

    {%- with messages = get_flashed_messages(with_categories=true) -%}
        {% if messages %}
         {% for category, message in messages %}
            <script type="text/javascript">
                (function() {
                  toastr.options = {
                    positionClass: 'toast-center-center',
                    "fadeIn": 300,
                    "fadeOut": 1000,
                    "timeOut": 3000
                  };
                  switch ('{{ category }}') {
                    case 'error':
                        toastr.error('{{ message }}', 'Recover');
                        break;
                    case 'warning':
                        toastr.warning('{{ message }}', 'Recover');
                        break;
                    case 'success':
                        toastr.success('{{ message }}', 'Recover');
                        break;
                    default:
                        toastr.info('{{ message }}', 'Recover');
                }
                }).call(this);
            </script>
          {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <ul class="list-inline">
                          <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                          <li class="footer-menu-divider">&sdot;</li>
                          {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                          {% else %}
                            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                          {% endif %}
                        </ul>
                        <p class="copyright text-muted small">Copyright &copy; 2017 Institute of Technology Carlow</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

    <!-- Bootstrap JS -->
    <!-- <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <!-- <script src="{{ url_for('static', filename='bootstrap/js/metisMenu.min.js') }}"></script> -->

    <!-- Morris Charts JavaScript
    <script src="{{ url_for('static', filename='bootstrap/js/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/morris.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/morris-data.js') }}"></script>-->

    <!-- Custom Theme JavaScript
    <script src="{{ url_for('static', filename='bootstrap/js/custom.js') }}"></script> -->
</body>
</html>
